extends ../_default

block content
   main.page-main
      .page-intro!= partial('intro.md')
      .page-content.grid.colored-cards
         for filename in public.nonacademic.cards._contents
            section.card!= partial('cards/' + filename)