extends _default

block content
   main.page-main
      .textplus 
         .textplus-text
            section.text-section
               p  I am working at the University of Zurich as a Ambizione Fellow. I am associated with the Swiss NCCR PlanetS platform.
               p  My research is funded by the Swiss National Science Foundation.
            section.text-section
               h2.h2 Education
               p I studied geophysics at the University of Leipzig, where I also did my minors in numerics and geology. My thesis was conducted at ETH Zurich.
               p At the University of Lausanne, I did my PhD in geophysics and environmental sciences, which was awarded with the faculty prize.
               .textplus-plus
            img(src='images/small/caro_web.jpg')