
//////////
// home //
//////////

#home-page
    .page-heading
        text-transform: uppercase
    .page-title 
        font-size: var(--xxxl)
        @media big-heading
            font-size: var(--xxxxl)
    .page-subtitle  
        font-family: body-font
        margin-top: 0em
        font-size: var(--l)
        @media big-heading
            font-size: var(--xl)
    .mobile-page-header
        justify-content: center


//////////////////
// publications //
//////////////////

.paper-list
    li+li
        margin-top: var(--unit)

.paper-title
    font-weight:bold

.topic-title
    @extends .h2
    margin-bottom: var(--unit)
    
#publications
    @extends .text-wrapper
    section + section
        margin-top: var(--two-units)
    ul
        @extends .paper-list
    h2
        @extends .topic-title
    h3
        @extends .paper-title


///////////
// about //
///////////

#about-page
    main
        @extends .spaced-paragraphs
        .textplus
            margin-bottom: var(--two-units)
        h2
            @extends .h2
        h3
            @extends .h3
        ul
            margin: 0
            stacked-list(spacing: 0)